<%= render "devise/shared/error_messages", resource: resource %>
<div class="wrapper">
  <%= render 'shared/nav_menu' %>
  <div class="wrapper-inline">
    <%= render 'shared/header', back: true, nav: true, title: "회원정보 수정" %>
    <main>
      <section class="container">
        <div class="form-divider"></div>
        <div class="form-divider"></div>
        <h2><%= t('.title', resource: resource.model_name.human) %></h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="form-row-group with-icons">
            <div class="form-row no-padding">
              <i class="fa fa-envelope"></i>
              <%= f.email_field :email, autofocus: true, class: "form-element", placeholder: "이메일 입력" %>
            </div>
          </div>
          <div class="form-mini-divider"></div>
          <div class="form-row-group with-icons">
            <div class="form-row no-padding">
              <i class="fa fa-lock"></i>
              <%= f.password_field :password, class: "form-element", placeholder: "새 비밀번호 입력"  %>
            </div>
            <div class="form-row no-padding">
              <i class="fa fa-lock"></i>
              <%= f.password_field :password_confirmation, class: "form-element", placeholder: "새 비밀번호 확인"  %>
            </div>
          </div>
          <small>*비밀번호 변경시에만 입력</small>
          <div class="form-mini-divider"></div>
          <div class="form-row-group with-icons">
            <div class="form-row no-padding">
              <i class="fa fa-lock"></i>
              <%= f.password_field :current_password, class: "form-element", placeholder: "현재 비밀번호 입력"  %>
            </div>
          </div>
          <small class="font-red"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
          <div class="form-divider"></div>
          <div class="form-row">
            <%= f.submit "수정하기", class: "button circle block green" %>
          </div>
        <% end %>
        <div class="form-divider"></div>
        <div class="form-divider"></div>
        <div class="form-divider"></div>
        <div class="form-row">
          <h4><%= t('.cancel_my_account') %></h4>
          <p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), class: "button circle block red", data: { confirm: t('.are_you_sure') }, method: :delete %></p>
          <%= link_to t('devise.shared.links.back'), :back, class: "button circle block" %>
        </div>
        <div class="form-divider"></div>
      </section>
    </main>
  </div>
</div>
