<div class="wrapper">
  <%= render 'shared/nav_menu' %>
  <div class="wrapper-inline">
    <%= render 'shared/header', back: true, title: "게시물 상세" %>
    <main>
      <section class="container">
        <div class="product-viewer" id="productViewer">
          <div class="view-item">
            <img src="<%= @item&.image.square.url.presence || '/img/avatar-bg.jpg' %>">
          </div>
        </div>

        <h1 class="product-view-title txt-orange"><%= @item&.title %></h1>
        <h4 class="product-view-price"><%= @item&.price %></h4>

        <div class="form-mini-divider"></div>
        <div class="form-mini-divider"></div>
        <div class="panel">
          <i class="fa fa-map-marker"></i> &nbsp;<%= @item&.location %>
        </div>

        <div class="form-mini-divider"></div>

        <div class="panel">
          <%= @item&.desc %>
        </div>
        <div class="form-divider"></div>
        <div class="form-divider"></div>
        <div class="form-divider"></div>
        <div class="form-divider"></div>
        <div class="form-divider"></div>
        <% if user_signed_in? && current_user == @item.user %>
          <div class="form-row">
            <%= link_to '수정', edit_item_path(@item.id), class: "button circle block" %>
          </div>
          <div class="form-row">
            <%= link_to '삭제', item_path(@item.id), class: "button circle block yellow", method: :destroy, confirm: "상품을 삭제하시겠습니까?" %>
          </div>
        <% end %>
      </section>
    </main>
    <!-- Page content end -->
  </div>
</div>
